.comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & .comments-container {
    background: white;
    width: 80%;
    text-align: center;
    border: 2px solid $color2;
   
    
    & .text-comment {
      font-size: 0.8rem;
      font-weight: 600;
      line-height: 17px;
      font-family: $font3;
      letter-spacing: 1px;
      padding: 5px;
      border-radius: 5px;
      border: 2px solid $color2;
      width: 95%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 40px;
      margin: 10px;
      background: white;
      color: $color1;
    }
    & .button-comment {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: flex-end;
        & .trash {
          cursor: pointer;
          margin-right: 10px;
          color: $color1; 
          margin-top: 2px;
        }
        & .pencil {
          color: $color1;
          font-size: 20px;
          margin: 0 15px 0 0;
        }
      }
  }
}
