section {
  position: relative;
  // height: auto;
  & footer {
    background: #272930;
    margin-top: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;

    & .footer-container {
      height: 50px;
      color: white;
      font-family: $font3;
      text-transform: capitalize;
      display: flex;
      justify-content: space-around;
      & .copyright-container {
        display: flex;
        margin: 20px;
        & .icon-copyright {
          margin: 1px 5px 0 0;
        }
      }
      & .text-footer {
        margin: 20px;
      }
    }
  }
}
