nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 100%;
  background: #2b35b8;
  background: linear-gradient(90deg, #2b35b8 0%, #00c65d 100%);
  background: -webkit-linear-gradient(90deg, #2b35b8 0%, #00c65d 100%);
  background: -moz-linear-gradient(90deg, #2b35b8 0%, #00c65d 100%);
    & h1 {
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      margin-left: 5px;
      margin-top: 4px;
      color: white;
      text-transform: uppercase;
      font-family: $font;
      letter-spacing: 2px;
      text-shadow: 2px 2px 2px $color3;
    }
  
  & ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    font-family: $font2;
    letter-spacing: 1px;
    color: white;
    display: flex;
    cursor: pointer;
    & li {
      margin: 5px;
      & .log-google {
        background: #4081ec;
        color: black;
        display: flex;
        text-align: center;
        align-items: center;
        height: 26px;
        width: 140px;
        border-radius: 2px;
        & .img-google {
          background: white;
          padding: 3px;
          height: 22px;
          width: 22px;
          margin-left: 2px;
        }
        & p {
          padding: 7px;
          color: white;
          font-family: $font4;
          font-size: 0.6rem;
        }
      }
    }
  }
  & .user-log {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-family: $font3;
    font-size: 1.2rem;
    & .button-logout {
      background: #01132B;
      margin-top: 10px;
      border-radius: 10px;
      text-transform: uppercase;
      font-size: 1rem;
      font-family: $font2;
      width: 70px;
      height: 20px;
      text-align: center;
      letter-spacing: 2px;
      
    }
  }
}
