.thread-container {
  min-height: 80px;
  width: 80%;
  margin-top: 50px;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  position: relative;
  border: 2px solid $color3;
  & h2 {
    font-size: 1rem;
    font-family: $font;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 5px;
    color: $color2;
    text-shadow: 2px 2px 2px black;
  }
  & .content-thread {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 17px;
    font-family: $font3;
    letter-spacing: 1px;
    padding: 5px;
    border-radius: 5px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    margin: 10px;
    background: white;
    color: $color1;
  }
  & p {
    margin: 5px;
    font-size: 0.7rem;
    display: flex;
    color: white;
  }
  & .button-thread {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    & .pencil {
      color: $color3;
      font-size: 20px;
      margin: 0 15px 0 0;
    }
  }
}

@media screen and (min-width: 1080px) {
  .thread-container {
    width: 50%;
    & h2 {
      font-size: 2rem;
    }
    & .content-thread {
      font-size: 1.3rem;
      line-height: 30px;
    }
    & p {
      font-size: 1.2rem;
    }
    & .button-thread {
      height: 50px;
      & .pencil {
        color: $color3;
        font-size: 35px;
        margin: 0 15px 0 0;
      }
      & .trash svg {
        font-size: 30px;
        margin-right: 9px;
      }
    }
  }
}